@import "@/css/_variabled.css";
@import "@/css/font.css";
@import "@/css/reset.css";

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 9.6rem;
  text-align: center;
  animation: fade-logo 650ms ease-in-out;
}

.loading-logobox {
  position: fixed;
  bottom: 1.6rem;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loading-logobox>p:first-child {
  font-size: 1.4rem;
  color: var(--sub-color);
  font-weight: 400;
}

.loading-textbox {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 0.8rem;
}

.loading-textbox>i {
  font-size: 2.2rem;
  margin-top: 0.5rem;
}

.loading-logobox>div>p {
  font-size: 1.7rem;
  font-weight: 700;
}

.gradient-color {
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  color: transparent;
  -webkit-background-clip: text;
}


@keyframes fade-logo {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}